//
//  Config.xcconfig
//  Muon
//
//
//

//TESTING PURPOSES

//Use any inherited
MUON_INHERITED = "$(inherited)"
//Add the system libraries
MUON_SYSTEM_LIBRARY = $(MUON_INHERITED) "$(PLATFORM_DIR)/Developer/Library/Frameworks"

//Add the specific platform testing framework
MUON_SEARCH_PATHS[sdk=iphoneos*] = $(MUON_SYSTEM_LIBRARY)
MUON_SEARCH_PATHS[sdk=macosx*] = $(MUON_SYSTEM_LIBRARY)
MUON_SEARCH_PATHS[sdk=iphonesimulator*] = $(MUON_SYSTEM_LIBRARY)
MUON_SEARCH_PATHS[sdk=appletv*] = $(MUON_SYSTEM_LIBRARY)
MUON_SEARCH_PATHS[sdk=watchos*] = $(MUON_SYSTEM_LIBRARY)

//Set the final value for the search paths.
FRAMEWORK_SEARCH_PATHS = $(MUON_SEARCH_PATHS)

//watchos not supported

